.button {
  z-index: 2;
  margin-top: 20px;
  border: 2px solid #4b4ccc;
  background-color: transparent;
  padding: 10px 60px;
  color: #4b4ccc;
}

@media (min-width: 1679px) {
  .button {
    font-size: 1.5rem !important;
  }
}
