.pageContainer {
  background: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #4b4ccc;
}
.hand {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.centerSection {
  position: absolute;
  top: 50%;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 25px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #6162cf;
  border-radius: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
}
@media (max-width: 1024px) {
  .centerSection {
    bottom: 40%;
  }
}
@media (min-width: 1679px) {
  .pageTitle {
    font-size: 3rem !important;
  }
}
